#include "wc2ed.rh"

VERINFO1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
PRODUCTVERSION 1, 0, 0, 0
FILEOS VOS_DOS_WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "MSJ\000\000"
   VALUE "FileDescription", "Warcraft II Save Editor\000"
   VALUE "FileVersion", "1.00.02\000\000"
   VALUE "InternalName", "Wc2Ed\000"
   VALUE "LegalCopyright", "Copyright © MSJ 1996\000\000"
   VALUE "OriginalFilename", "Wc2Ed.exe\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}

